<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Demo App with Rails</a>
    by <a href="http://facebook.com/luu.dai.ca" target = "_blank">Dao Danh Luu</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://facebook.com/luu.dai.ca" target = "_blank">About</a>
      <li><a href="http://facebook.com/luu.dai.ca" target = "_blank">Contact</a>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>